<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace绑定接口  id绑定方法-->
<mapper namespace="com.ntvu.server.mapper.UserMapper">
    <select id="getAllUser" resultType="user">
        select  * from users ;
    </select>
</mapper>